* {
  margin: 0;
  padding: 0;
}

canvas {
  /* border: 1px solid #d3d3d3; */
  background-color: #1f1f1f;
  /* width: 100%; */
  /* height: 100%; */
}

.screen-wrapper {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  width: fit-content;
  /* aspect-ratio: 1; */
  border-color: black;
  border-radius: 2px;
  border-width: 2px;
  border-style: dashed;
  display: flex;
  justify-content: center;
  align-items: center;

  max-height: 80vh;
}
