* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(180deg, #4da6ff, #0066cc);
}

body {
  font-family: "VT323", monospace;
  overflow: hidden;
}

canvas {
  background: url("img/background.png") no-repeat center/cover;
}

.screen-wrapper {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-screen {
  width: 720px;
  height: 480px;
}

.screen {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid white;
  /* border-radius: 12px; */
  max-height: 80vh;
}

#menu {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  /* display: none; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.8s ease-out;
}

/* Title */
.menu-title {
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
  color: white;
  text-shadow: 3px 3px 0 #003366, 6px 6px 0 #002244;
  margin-bottom: 120px;
  letter-spacing: 2px;
}

/* Buttons */
.menu-btn {
  font-family: "VT323", monospace;
  font-size: 32px;
  margin: 12px 0;
  padding: 12px 24px;
  width: 260px;
  text-align: center;
  color: white;

  background: #0033aa;
  border: 3px solid white;
  border-radius: 12px;
  cursor: pointer;

  transition: 0.25s;
}

.menu-btn:hover {
  background: #0055ff;
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px white);
}

#name {
  background: #002244;
}

/* Fade animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* GAME OVER */
.gameOver-title {
  margin-bottom: 32px;
}

#gameOver {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 720px;
  height: 480px;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  font-family: "Press Start 2P";

  animation: fadeIn 0.5s ease-out;
}

#gameOver button {
  margin-top: 20px;
  padding: 10px 20px;
  font-family: "VT323";
  font-size: 30px;
  background: #0033aa;
  color: white;
  border-radius: 10px;
}

/* GAME OVER */
#leaderboard {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: max-content;
  height: max-content;
  background: #268df5;
  color: white;
  font-family: "Press Start 2P";

  padding: 40px;

  border: 12px solid white;
  border-radius: 12px;
  cursor: pointer;

  animation: fadeIn 0.5s ease-out;
}

.leaderboard-list {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.leaderboard-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  font-family: "Press Start 2P";
  color: white;
}

.player-score {
  color: #fcffaf;
}

#leaderboard button {
  margin-top: 20px;
  padding: 10px 20px;
  font-family: "VT323";
  font-size: 30px;
  background: #0033aa;
  color: white;
  border-radius: 10px;
}
